@model RegistroDeAtos.Services.NascimentoService.Commands.Input.NascimentoCommand

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastro de nascimento</h1>


<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Data do registro</label>
                <input asp-for="DataRegistro" class="form-control" />
                <span asp-validation-for="DataRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data do nascimento</label>
                <input asp-for="RecemNascido.Data" class="form-control" />
                <span asp-validation-for="RecemNascido.Data" class="text-danger"></span>
            </div>  
            <hr />
            <div class="form-group">
                <label class="control-label">Nome do registrado</label>
                <input asp-for="RecemNascido.Nome" class="form-control" />
                <span asp-validation-for="RecemNascido.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nome do pai</label>
                <input asp-for="Pai.Nome" class="form-control" />
                <span asp-validation-for="Pai.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Nome da mãe</label>
                <input asp-for="Mae.Nome" class="form-control" />
                <span asp-validation-for="Mae.Nome" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label  class="control-label">Data de nascimento do pai</label>
                <input asp-for="Pai.Data" class="form-control" />
                <span asp-validation-for="Pai.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Data de nascimento da mãe</label>
                <input asp-for="Mae.Data" class="form-control" />
                <span asp-validation-for="Mae.Data" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label  class="control-label">CPF do pai</label>
                <input asp-for="DocPai.Cpf" class="form-control" />
                <span asp-validation-for="DocPai.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">CPF da mãe</label>
                <input asp-for="DocMae.Cpf" class="form-control" />
                <span asp-validation-for="DocMae.Cpf" class="text-danger"></span>
            </div>
            

          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
