
@{
}
<div class="campo">
    <h1 id="titulo">Cadastro Nascimento</h1>
    <h2 class="sizeh1">Dados do Recém-Nascido</h2>
    
    <br />
</div>

<form>
    <fieldset class="grupo">
        <div class="campo">
            <label>Data do Registro</label>
            <input type="date", name="Data do Registro" id="dataregistro"/>
        </div>

        <div class="campo">
            <label>Data de Nascimento</label>
            <input type="date", name="DataDoNascimento" id="datanascimento" required/>
        </div>
    </fieldset>

    <div class="campo"> 
        
        <br />
        <div class="campo">
         <label for="nome">Nome do Registrado</label>
        <input type="text", name="NomeDoRegistrado", id="nomeregistrado" required/>
        </div>
        <br />
        <div class="campo">
         <label for="nomepai">Nome do Pai</label>
        <input type="text", name="nomepai", id="nomepai"/>
        </div>
         <br />
         <div class="campo">
         <label for="nomemae">Nome da Mãe</label>
        <input type="text", name="nomemae", id="nomemae" required/>
        </div>
         <br />
         <div class="campo">
         <label for="datanascimentopai">Data Nascimento do pai</label>
        <input type="date", name="datanascimentopai", id="datanascimentopai"/>
        </div>
         <br />
         <div class="campo">
         <label for="datanascimentomae">Data Nascimento mãe</label>
        <input type="date", name="datanascimentomae", id="datanascimentomae" required/>
        </div>
         <br />
         <div class="campo">
         <label>CPF do Pai</label>
        <input type="number", name="cpfpai", id="cpfpai"/>
        </div>
         <br />
         <div class="campo">
         <label>CPF do Mãe</label>
        <input type="number", name="cpfmae", id="cpfmae" required/>
        </div>
        <br />
    </div>

    <div class="campo">
        <br />
        <button type="submit" class="botao">Salvar</button>
    </div>
</form>