@model RegistroDeAtos.Services.ObitoService.Commands.Input.ObitoCommand

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastro de Obito</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Data do registro</label>
                <input asp-for="DataRegistro" class="form-control" />
                <span asp-validation-for="DataRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data do obito</label>
                <input asp-for="DataObito" class="form-control" />
                <span asp-validation-for="DataObito" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label  class="control-label">Nome do falecido</label>
                <input asp-for="Falecido.Nome" class="form-control" />
                <span asp-validation-for="Falecido.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Data de nascimento</label>
                <input asp-for="Falecido.Data" class="form-control" />
                <span asp-validation-for="Falecido.Data" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label  class="control-label">Nome do pai</label>
                <input asp-for="Pai.Nome" class="form-control" />
                <span asp-validation-for="Pai.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Nome da mãe</label>
                <input asp-for="Mae.Nome" class="form-control" />
                <span asp-validation-for="Mae.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Data de nascimento do pai</label>
                <input asp-for="Pai.Data" class="form-control" />
                <span asp-validation-for="Pai.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Data de nascimento da mãe</label>
                <input asp-for="Falecido.Data" class="form-control" />
                <span asp-validation-for="Mae.Data" class="text-danger"></span>
            </div>
            <br />


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
