
@{
}
<div class="campo">
    <h1 id="titulo">Cadastro Óbito</h1>
    <h2 class="sizeh1">Dados do Falecido</h2>
    
    <br />
</div>

<form>
    <fieldset class="grupo">
        <div class="campo">
            <label>Data do Registro</label>
            <input type="date", name="Data do Registro" id="dataregistro"/>
        </div>

        <div class="campo">
            <label>Data do Óbito</label>
            <input type="date", name="DataDoObito" id="dataobito" required/>
        </div>
    </fieldset>

    <div class="campo"> 
        
        <br />
        <div class="campo">
         <label for="nome">Nome do Falecido</label>
        <input type="text", name="nome", id="nome" required/>
        </div>
        <br />
         <div class="campo">
            <label>Data de nascimento</label>
            <input type="date", name="DataDonascimento" id="datanascimento" required/>
        </div>
        <br />
        <div class="campo">
         <label for="nomepai">Nome do Pai</label>
        <input type="text", name="nomepai", id="nomepai"/>
        </div>
         <br />
         <div class="campo">
         <label for="nomemae">Nome da Mãe</label>
        <input type="text", name="nomemae", id="nomemae" required/>
        </div>
         <br />
         <div class="campo">
         <label for="datanascimentopai">Data Nascimento do pai</label>
        <input type="date", name="datanascimentopai", id="datanascimentopai"/>
        </div>
         <br />
         <div class="campo">
         <label for="datanascimentomae">Data Nascimento mãe</label>
        <input type="date", name="datanascimentomae", id="datanascimentomae" required/>
        </div>
        <br />
    </div>

    <div class="campo">
        <br />
        <button type="submit" class="botao">Salvar</button>
    </div>
</form>